Repository google/gnxi, pull requests merged in 2020-08, with the labels that each got.

#183 Decoupled provision operation from cert
  gnxi_tester/cmd/cmd.go
  gnxi_tester/cmd/run.go
  gnxi_tester/config/defaults.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
Labels: enhancement, orchestrator

#184 RunContainer method for orchestrator.
  gnxi_tester/cmd/cmd.go
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/containers_test.go
  gnxi_tester/orchestrator/run.go
Labels: gnoi, orchestrator

#185 Added dockerfiles to config
  gnxi_tester/config/config.go
  gnxi_tester/config/defaults.go
  gnxi_tester/config/defaults_test.go
  gnxi_tester/config/dockerfiles.go
  gnxi_tester/config/dockerfiles_test.go
Labels: enhancement, orchestrator

#186 Fix for defaults_test.go
  gnxi_tester/config/defaults_test.go
Labels: bug, orchestrator

#187 Altered prompt names to be more descriptive
  gnxi_tester/config/defaults.go
  gnxi_tester/config/history.go
  gnxi_tester/config/history_test.go
Labels: enhancement, orchestrator

#188 Added bug fixes and improvements to orchestrator package
  gnxi_tester/cmd/run.go
  gnxi_tester/cmd/targets.go
  gnxi_tester/config/defaults.go
  gnxi_tester/config/dockerfiles.go
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/containers_test.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
  go.mod
  go.sum
Labels: bug, enhancement, gnxi_tester

#191 Changed regex in default tests
  gnxi_tester/config/defaults.go
Labels: bug, gnxi_tester

#190 Added --files fixes and reduced chunk size in OS Install
  gnoi/os/client.go
  gnoi/os/client_test.go
  gnoi/os/manager.go
  gnoi/os/server.go
  gnoi/os/server_test.go
  gnoi_os/gnoi_os.go
  gnoi_target/gnoi_target.go
  gnxi_tester/README.md
  gnxi_tester/cmd/run.go
  gnxi_tester/config/defaults.go
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
Labels: bug, gnxi_tester

#193 gNMI Subscribe Client Setup
  gnmi_subscribe/gnmi_subscribe.go
Labels: enhancement, gnmi

#197 Update gnoi_mockos/README.md
  gnoi_mockos/README.md
Labels: documentation, gnoi

#198 Fix typos in tests
  gnxi_tester/config/defaults.go
Labels: bug, gnxi_tester

#204 -version flag is optional
  gnoi/os/server.go
  gnoi/os/server_test.go
  gnoi_os/gnoi_os.go
  gnxi_tester/config/defaults.go
Labels: bug, gnoi

#199 Finalized orchestrator CLI
  gnxi_tester/cmd/run.go
  gnxi_tester/config/config.go
  gnxi_tester/config/config_test.go
  gnxi_tester/config/defaults.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
Labels: bug, gnxi_tester

#202 Added web dev env, install scripts and frontend
  gnxi_tester/.gitignore
  gnxi_tester/Dockerfile
  gnxi_tester/docker-compose.dev.yml
  gnxi_tester/docker-compose.yml
  gnxi_tester/modd.conf
  gnxi_tester/web.sh
  gnxi_tester/web_ui/.browserslistrc
  gnxi_tester/web_ui/.dockerignore
  gnxi_tester/web_ui/.editorconfig
  gnxi_tester/web_ui/.gitignore
  gnxi_tester/web_ui/Dockerfile
  gnxi_tester/web_ui/README.md
  gnxi_tester/web_ui/angular.json
  gnxi_tester/web_ui/e2e/protractor.conf.js
  gnxi_tester/web_ui/e2e/src/app.e2e-spec.ts
  gnxi_tester/web_ui/e2e/src/app.po.ts
  gnxi_tester/web_ui/e2e/tsconfig.json
  gnxi_tester/web_ui/karma.conf.js
  gnxi_tester/web_ui/package-lock.json
  gnxi_tester/web_ui/package.json
  gnxi_tester/web_ui/src/api/devices.ts
  gnxi_tester/web_ui/src/app/app-routing.module.ts
  gnxi_tester/web_ui/src/app/app.component.css
  gnxi_tester/web_ui/src/app/app.component.html
  gnxi_tester/web_ui/src/app/app.component.spec.ts
  gnxi_tester/web_ui/src/app/app.component.ts
  gnxi_tester/web_ui/src/app/app.module.ts
  gnxi_tester/web_ui/src/app/devices/devices.component.css
  gnxi_tester/web_ui/src/app/devices/devices.component.html
  gnxi_tester/web_ui/src/app/devices/devices.component.spec.ts
  gnxi_tester/web_ui/src/app/devices/devices.component.ts
  gnxi_tester/web_ui/src/app/navbar/navbar.component.css
  gnxi_tester/web_ui/src/app/navbar/navbar.component.html
  gnxi_tester/web_ui/src/app/navbar/navbar.component.spec.ts
  gnxi_tester/web_ui/src/app/navbar/navbar.component.ts
  gnxi_tester/web_ui/src/app/prompts/prompts.component.css
  gnxi_tester/web_ui/src/app/prompts/prompts.component.html
  gnxi_tester/web_ui/src/app/prompts/prompts.component.spec.ts
  gnxi_tester/web_ui/src/app/prompts/prompts.component.ts
  gnxi_tester/web_ui/src/app/run/run.component.css
  gnxi_tester/web_ui/src/app/run/run.component.html
  gnxi_tester/web_ui/src/app/run/run.component.spec.ts
  gnxi_tester/web_ui/src/app/run/run.component.ts
  gnxi_tester/web_ui/src/assets/.gitkeep
  gnxi_tester/web_ui/src/environments/environment.prod.ts
  gnxi_tester/web_ui/src/environments/environment.ts
  gnxi_tester/web_ui/src/favicon.ico
  gnxi_tester/web_ui/src/index.html
  gnxi_tester/web_ui/src/main.ts
  gnxi_tester/web_ui/src/polyfills.ts
  gnxi_tester/web_ui/src/styles.css
  gnxi_tester/web_ui/src/test.ts
  gnxi_tester/web_ui/tsconfig.app.json
  gnxi_tester/web_ui/tsconfig.base.json
  gnxi_tester/web_ui/tsconfig.json
  gnxi_tester/web_ui/tsconfig.spec.json
  gnxi_tester/web_ui/tslint.json
Labels: enhancement, gnxi_tester

#195 Added Web API stubs.
  gnxi_tester/cmd/web.go
  gnxi_tester/config/defaults.go
  gnxi_tester/config/web.go
  gnxi_tester/config/web_test.go
  gnxi_tester/web/config.go
  gnxi_tester/web/file.go
  gnxi_tester/web/prompts.go
  gnxi_tester/web/prompts_test.go
  gnxi_tester/web/routes.go
  gnxi_tester/web/run.go
  go.mod
  go.sum
Labels: enhancement, gnxi_tester

#196 gNMI Subscribe Client Functionality
  gnmi_subscribe/gnmi_subscribe.go
Labels: enhancement, gnmi

#205 Documentation for gNMI Subscribe Client
  gnmi_subscribe/README.md
Labels: documentation, gnmi

#206 TargetName is an Exported Flag
  gnmi_capabilities/gnmi_capabilities.go
  gnmi_get/gnmi_get.go
  gnmi_set/gnmi_set.go
  gnmi_subscribe/gnmi_subscribe.go
  gnoi_cert/gnoi_cert.go
  gnoi_os/gnoi_os.go
  gnoi_reset/gnoi_reset.go
  utils/credentials/credentials.go
Labels: cleanup, gnmi, gnoi

#209 Added Target Endpoints for web API
  gnxi_tester/config/history.go
  gnxi_tester/web/routes.go
  gnxi_tester/web/run.go
  gnxi_tester/web/target.go
  gnxi_tester/web/target_test.go
Labels: enhancement, gnxi_tester

#211 Upload and Delete API Functionality
  gnxi_tester/web/file.go
Labels: enhancement, gnxi_tester

#212 Tests for gNMI Subscribe Client
  gnmi_subscribe/gnmi_subscribe_test.go
Labels: cleanup, enhancement, gnmi

#214 Target Retrieval and File Upload/Delete Service
  gnxi_tester/web_ui/src/app/file.service.spec.ts
  gnxi_tester/web_ui/src/app/file.service.ts
  gnxi_tester/web_ui/src/app/models/FileResponse.ts
  gnxi_tester/web_ui/src/app/models/Target.ts
  gnxi_tester/web_ui/src/app/target.service.spec.ts
  gnxi_tester/web_ui/src/app/target.service.ts
Labels: enhancement, gnxi_tester

#217 Added documentation for gnxi_tester
  gnxi_tester/README.md
Labels: documentation, gnxi_tester

#215 Added Frontend services to interface with backend and views
  gnxi_tester/Dockerfile
  gnxi_tester/cmd/cmd.go
  gnxi_tester/cmd/run.go
  gnxi_tester/docker-compose.dev.yml
  gnxi_tester/docker-compose.yml
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
  gnxi_tester/web/config.go
  gnxi_tester/web/routes.go
  gnxi_tester/web/run.go
  gnxi_tester/web/run_test.go
  gnxi_tester/web/target.go
  gnxi_tester/web_ui/package-lock.json
  gnxi_tester/web_ui/src/api/devices.ts
  gnxi_tester/web_ui/src/app/app-routing.module.ts
  gnxi_tester/web_ui/src/app/app.module.ts
  gnxi_tester/web_ui/src/app/devices/devices.component.html
  gnxi_tester/web_ui/src/app/devices/devices.component.ts
  gnxi_tester/web_ui/src/app/file-upload.directive.spec.ts
  gnxi_tester/web_ui/src/app/file-upload.directive.ts
  gnxi_tester/web_ui/src/app/file-upload/file-upload.component.css
  gnxi_tester/web_ui/src/app/file-upload/file-upload.component.html
  gnxi_tester/web_ui/src/app/file-upload/file-upload.component.spec.ts
  gnxi_tester/web_ui/src/app/file-upload/file-upload.component.ts
  gnxi_tester/web_ui/src/app/models/Prompts.ts
  gnxi_tester/web_ui/src/app/models/Run.ts
  gnxi_tester/web_ui/src/app/navbar/navbar.component.html
  gnxi_tester/web_ui/src/app/prompts.service.spec.ts
  gnxi_tester/web_ui/src/app/prompts.service.ts
  gnxi_tester/web_ui/src/app/prompts/prompts.component.css
  gnxi_tester/web_ui/src/app/prompts/prompts.component.html
  gnxi_tester/web_ui/src/app/prompts/prompts.component.ts
  gnxi_tester/web_ui/src/app/run.service.spec.ts
  gnxi_tester/web_ui/src/app/run.service.ts
  gnxi_tester/web_ui/src/app/run/run.component.html
  gnxi_tester/web_ui/src/app/run/run.component.ts
Labels: enhancement, gnxi_tester

#210 Added Run Tests Endpoints for web API
  gnxi_tester/.dockerignore
  gnxi_tester/web.sh
  gnxi_tester/web/routes.go
Labels: enhancement, gnxi_tester

#208 Added Prompts Endpoints for web API
  gnxi_tester/config/web.go
  gnxi_tester/config/web_test.go
  gnxi_tester/web/prompts.go
  gnxi_tester/web/prompts_test.go
Labels: enhancement, gnxi_tester

#222 Added fixes to get gnxi_tester web_ui fully functional
  gnoi/os/manager.go
  gnxi_tester/README.md
  gnxi_tester/cmd/run.go
  gnxi_tester/config/config_test.go
  gnxi_tester/config/defaults.go
  gnxi_tester/config/dockerfiles.go
  gnxi_tester/config/history.go
  gnxi_tester/config/history_test.go
  gnxi_tester/config/web.go
  gnxi_tester/config/web_test.go
  gnxi_tester/docker-compose.yml
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
  gnxi_tester/web.sh
  gnxi_tester/web/file.go
  gnxi_tester/web/prompts.go
  gnxi_tester/web/prompts_test.go
  gnxi_tester/web/routes.go
  gnxi_tester/web/run.go
  gnxi_tester/web/target.go
  gnxi_tester/web/target_test.go
  gnxi_tester/web/tests.go
  gnxi_tester/web_ui/Dockerfile
  gnxi_tester/web_ui/default.conf
  gnxi_tester/web_ui/src/app/app.module.ts
  gnxi_tester/web_ui/src/app/devices/devices.component.css
  gnxi_tester/web_ui/src/app/devices/devices.component.html
  gnxi_tester/web_ui/src/app/devices/devices.component.ts
  gnxi_tester/web_ui/src/app/environment.ts
  gnxi_tester/web_ui/src/app/file-upload/file-upload.component.ts
  gnxi_tester/web_ui/src/app/file.service.ts
  gnxi_tester/web_ui/src/app/models/Run.ts
  gnxi_tester/web_ui/src/app/models/Test.ts
  gnxi_tester/web_ui/src/app/prompts.service.ts
  gnxi_tester/web_ui/src/app/prompts/prompts.component.css
  gnxi_tester/web_ui/src/app/prompts/prompts.component.html
  gnxi_tester/web_ui/src/app/prompts/prompts.component.ts
  gnxi_tester/web_ui/src/app/run.service.ts
  gnxi_tester/web_ui/src/app/run/run.component.css
  gnxi_tester/web_ui/src/app/run/run.component.html
  gnxi_tester/web_ui/src/app/run/run.component.ts
  gnxi_tester/web_ui/src/app/target.service.ts
  gnxi_tester/web_ui/src/app/test.service.spec.ts
  gnxi_tester/web_ui/src/app/test.service.ts
  gnxi_tester/wipe.sh
  go.mod
  go.sum
Labels: bug, enhancement, gnxi_tester

#224 Correct README flags
  gnxi_tester/README.md
Labels: bug, documentation, gnxi_tester

#225 Fixed up tester README
  gnxi_tester/README.md
  gnxi_tester/assets/web_ui.png
  gnxi_tester/web_ui/README.md
Labels: documentation, gnxi_tester
