Repository google/gnxi, pull requests merged in 2020-07, with the labels that each got.

#102 gNOI Client
  gnoi/reset/client.go
  gnoi/reset/client_test.go
  gnoi/reset/pb/reset.pb.go
  gnoi/reset/pb/reset.proto
  gnoi/reset/pb/reset_grpc.pb.go
Labels: enhancement, gnoi

#101 Implemented Factory Reset server for mock target
  gnoi/gnoi.go
  gnoi/reset/server.go
  gnoi/reset/server_test.go
Labels: enhancement, gnoi

#104 gNOI Reset Client Binary and README
  gnoi_reset/README.md
  gnoi_reset/gnoi_reset.go
Labels: enhancement, gnoi

#105 Added gNOI reset to target binary and implemented cert resetting
  gnoi/gnoi.go
  gnoi/gnoi_test.go
  gnoi/reset/server.go
  gnoi/reset/server_test.go
  gnoi_target/README.md
  gnoi_target/gnoi_target.go
  go.mod
Labels: enhancement, gnoi

#109 Added manager for OS service
  gnoi/os/manager.go
  gnoi/os/pb/os.pb.go
  gnoi/os/pb/os.proto
  gnoi/os/pb/os_grpc.pb.go
Labels: enhancement, gnoi

#116 Added script to generate certs
  certs/README.md
  certs/generate.sh
Labels: enhancement, gnoi

#117 Added tests for os manager
  .travis.yml
  gnoi/os/manager_test.go
Labels: documentation, enhancement, gnoi

#110 gNOI Mock OS Generator library
  gnoi_mockos/README.md
  gnoi_mockos/gnoi_mockos.go
  go.mod
  go.sum
  utils/mockos/mockos.go
  utils/mockos/mockos_test.go
  utils/mockos/pb/mockos.pb.go
  utils/mockos/pb/mockos.proto
Labels: enhancement, gnoi

#118 Added gNOI Client Activate RPC caller
  gnoi/os/client.go
  gnoi/os/client_test.go
Labels: enhancement, gnoi

#119 OS Activate Target
  gnoi/gnoi.go
  gnoi/gnoi_test.go
  gnoi/os/manager.go
  gnoi/os/server.go
  gnoi/os/server_test.go
  gnoi_target/gnoi_target.go
Labels: enhancement, gnoi

#121 Fixed type error, ResetTarget returns a *ResetError
  gnoi/reset/client.go
  gnoi_reset/gnoi_reset.go
Labels: bug, enhancement, gnoi

#123 Added OS Client Binary and README
  gnoi_os/README.md
  gnoi_os/gnoi_os.go
  gnoi_reset/gnoi_reset.go
Labels: enhancement, gnoi

#131 Added Proto Logging for gNOI OS, Cert and Reset
  gnoi/cert/client.go
  gnoi/os/client.go
  gnoi/os/server_test.go
  gnoi/reset/client.go
  utils/utils.go
Labels: enhancement, gnoi

#127 Added Verify RPC call for OS client
  gnoi/os/client.go
  gnoi/os/client_test.go
Labels: enhancement, gnoi

#124 gNOI Target Verify (#114)
  gnoi/os/manager.go
  gnoi/os/manager_test.go
  gnoi/os/server.go
  gnoi/os/server_test.go
  gnoi_mockos/README.md
  gnoi_mockos/gnoi_mockos.go
  gnoi_target/README.md
  gnoi_target/gnoi_target.go
  utils/mockos/mockos.go
  utils/mockos/mockos_test.go
  utils/mockos/pb/mockos.pb.go
  utils/mockos/pb/mockos.proto
Labels: enhancement, gnoi

#134 Added logging to Verify client RPC
  gnoi/os/client.go
  gnoi_os/gnoi_os.go
Labels: enhancement, gnoi

#133 Refactored credential utils to accept ca.crt, client.crt, client.key or ca.crt, ca.key
  utils/credentials/credentials.go
Labels: enhancement, gnoi

#136 Fixed ClientCredentials
  utils/credentials/credentials.go
Labels: bug

#132 Added OS Client Install RPC
  gnoi/os/client.go
  utils/utils.go
Labels: enhancement, gnoi

#135 gNOI Target OS Install
  gnoi/os/manager.go
  gnoi/os/server.go
  gnoi/os/server_test.go
Labels: enhancement, gnoi

#139 Refactored gnoi_cert for use with client cert + key
  gnoi_cert/gnoi_cert.go
  utils/credentials/credentials.go
Labels: enhancement, gnoi

#138 Added unit test for OS client Install
  gnoi/os/client_test.go
  gnoi/os/manager_test.go
Labels: enhancement, gnoi

#148 Fix for Install test
  gnoi/os/client_test.go
Labels: bug, gnoi

#154 Update individual README files
  README.md
  certs/README.md
  gnmi_capabilities/README.md
  gnmi_get/README.md
  gnmi_set/README.md
  gnmi_target/README.md
  gnoi_cert/README.md
  gnoi_mockos/README.md
  gnoi_os/README.md
  gnoi_reset/README.md
  gnoi_target/README.md
Labels: documentation, gnmi, gnoi

#155 Added certificate refactor to gnoi_target
  gnoi/cert/manager.go
  gnoi/cert/manager_test.go
  gnoi/gnoi.go
  gnoi/gnoi_test.go
  gnoi_target/gnoi_target.go
  utils/credentials/credentials.go
Labels: enhancement, gnoi

#150 Tests for MockOS
  gnoi/os/server.go
  utils/mockos/mockos.go
  utils/mockos/mockos_test.go
Labels: cleanup, coverage, gnoi

#149 Install Target Tests
  gnoi/os/server_test.go
Labels: cleanup, coverage, gnoi

#167 Implemented start to gnxi_tester
  gnxi_tester/README.md
  gnxi_tester/cmd/cmd.go
  gnxi_tester/cmd/run.go
  gnxi_tester/config/config.go
  gnxi_tester/config/defaults.go
  gnxi_tester/gnxi_tester.go
  gnxi_tester/orchestrator/run.go
  go.mod
  go.sum
Labels: enhancement, orchestrator

#162 Added tests for Rotate Cert Client RPC
  gnoi/cert/client.go
  gnoi/cert/client_test.go
  gnoi/cert/server.go
Labels: coverage, gnoi

#160 Added test for ResetTarget
  gnoi/reset/client_test.go
Labels: coverage, gnoi

#177 Full test coverage for gnoi/cert/client.go
  gnoi/cert/client.go
  gnoi/cert/client_test.go
  gnoi/cert/manager.go
Labels: coverage, gnoi

#176 Added Default Tests
  gnxi_tester/config/config.go
  gnxi_tester/config/config_test.go
  gnxi_tester/config/defaults.go
Labels: enhancement, orchestrator

#172 Added Orchestrator Logic
  gnxi_tester/cmd/run.go
  gnxi_tester/config/defaults.go
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
Labels: enhancement, orchestrator

#178 Added InitContainers for docker aspect of orchestrator
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/containers_test.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
  go.mod
  go.sum
Labels: enhancement, orchestrator

#182 Added tests for gnoi/cert/server.Install
  gnoi/cert/server.go
  gnoi/cert/server_test.go
Labels: coverage, gnoi

#180 Added Cert Path to Known Targets
  gnxi_tester/cmd/run.go
  gnxi_tester/cmd/targets.go
  gnxi_tester/config/config.go
  gnxi_tester/config/config_test.go
  gnxi_tester/config/defaults_test.go
  gnxi_tester/config/history.go
  gnxi_tester/config/history_test.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
Labels: enhancement, orchestrator
