Repository google/gnxi, pull requests merged in 2020-09, with the labels that each got.

#229 Order patch
  gnxi_tester/config/config.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/web/routes.go
  gnxi_tester/web/tests.go
  gnxi_tester/web_ui/src/app/app.module.ts
  gnxi_tester/web_ui/src/app/run/run.component.css
  gnxi_tester/web_ui/src/app/run/run.component.html
  gnxi_tester/web_ui/src/app/run/run.component.ts
  gnxi_tester/web_ui/src/app/test.service.ts
Labels: bug, gnxi_tester

#227 Added ERROR and SUCCESS to output for clearer results
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
  gnxi_tester/web_ui/src/app/app.module.ts
  gnxi_tester/web_ui/src/app/run/run.component.html
  gnxi_tester/web_ui/src/app/run/run.component.ts
  gnxi_tester/web_ui/src/app/sanitize.ts
Labels: cleanup, enhancement, gnxi_tester

#232 Added wipe command
  gnxi_tester/cmd/cmd.go
  gnxi_tester/cmd/wipe.go
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/containers_test.go
Labels: enhancement, gnxi_tester

#233 s/device/target
  gnxi_tester/cmd/targets.go
  gnxi_tester/config/config.go
  gnxi_tester/config/config_test.go
  gnxi_tester/config/history.go
  gnxi_tester/config/history_test.go
  gnxi_tester/orchestrator/containers.go
  gnxi_tester/orchestrator/containers_test.go
  gnxi_tester/orchestrator/run.go
  gnxi_tester/orchestrator/run_test.go
  gnxi_tester/web/run.go
  gnxi_tester/web/run_test.go
  gnxi_tester/web/target.go
  gnxi_tester/web/target_test.go
  gnxi_tester/web_ui/src/app/app-routing.module.ts
  gnxi_tester/web_ui/src/app/app.module.ts
  gnxi_tester/web_ui/src/app/models/Prompts.ts
  gnxi_tester/web_ui/src/app/models/Run.ts
  gnxi_tester/web_ui/src/app/target.service.ts
  gnxi_tester/web_ui/src/app/targets/targets.component.css
  gnxi_tester/web_ui/src/app/targets/targets.component.html
  gnxi_tester/web_ui/src/app/targets/targets.component.spec.ts
  gnxi_tester/web_ui/src/app/targets/targets.component.ts
Labels: cleanup, gnxi_tester

#234 gnxi_tester Coverage
  gnxi_tester/config/config_test.go
  gnxi_tester/config/history_test.go
  gnxi_tester/web/prompts_test.go
  gnxi_tester/web/routes.go
  gnxi_tester/web/target_test.go
  gnxi_tester/web/tests.go
  gnxi_tester/web/tests_test.go
Labels: coverage, gnxi_tester

#235 Created tests for cert/server.Rotate
  gnoi/cert/server_test.go
Labels: coverage, gnoi

#236 Added a test to check the routes present on router
  gnxi_tester/web/routes.go
  gnxi_tester/web/routes_test.go
Labels: coverage, gnxi_tester

#237 Renamed device in run component to target to fix form error
  gnxi_tester/web_ui/src/app/run/run.component.html
  gnxi_tester/web_ui/src/app/run/run.component.ts
Labels: bug, gnxi_tester

#239 Add tests for transport functions in gnoi_cert
  gnoi_cert/gnoi_cert.go
  gnoi_cert/gnoi_cert_test.go
Labels: coverage, gnoi

#238 Added file upload and delete tests
  gnxi_tester/web/file.go
  gnxi_tester/web/file_test.go
  gnxi_tester/web/routes.go
  go.mod
  go.sum
Labels: coverage, gnxi_tester
